/* ✅ Глобальные настройки */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden; 
  isolation: isolate;
}

.App {
    margin: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    background: #000000;
    color: white;
    font-family: Muller;
    font-size: 2.2vh ;
}

.App p{
    margin: 0;
}

.Main_Window{
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    top: 0;
    color: white;
    z-index: 1001;
    animation: fade-in 0.3s forwards;
}

.mainHomePageContainer {

    height: 100%; /* ✅ не 100%, иначе выйдет за пределы */
    width: 100%;
    overflow-y: auto;  /* ✅ включает вертикальный скролл */

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;

}

.headerContainer {
  position: relative;         /* не absolute, чтобы корректно работать во флексе */
  height: 8.37vh;             /* фиксируем высоту от экрана, стабильнее */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;        /* вертикальное выравнивание */
  padding-left: 7.1vw;        /* отступ слева вместо margin у круга */
  
}

.circleInHeaderContainer {
  position: static;           /* участвует в флекс-потоке */
  height: 58.82%;                /* круг зависит от высоты хедера */
  width: auto;                /* ширину определит aspect-ratio у дочернего элемента */
  margin: 0;                  /* отступы больше не нужны */
}

.circleName {

  height: 100%;          /* высота */
  aspect-ratio: 1/1;         /* ширина */
  background-color: #5736BB; /* цвет */
  border-radius: 50%;    /* делает форму круглой */

  color: white;
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;  /* ← вот здесь */
  font-weight: 400;                  /* Regular */
  font-size: 1.6vh;
}

.nickNameContainer {
    position: static;          /* обычный flex-item */
    margin: 0;                  /* отступы задаём через gap у хедера */
    height: 36.76%;
    width: 14.93%;
    margin-left: 1.1vw;
    display: flex;
    align-content: stretch;
    gap: 0.1vh;
}

.nickNameContainerPart1 {
    width: 100%;
    height: 60%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 1.53vh;
}

.nickNameContainerPart2 {
    width: 100%;
    height: 40%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 1.11vh;
}