/* ✅ Глобальные настройки */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden; 
  isolation: isolate;
}

.App {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: #000000;
  color: white;
  font-family: Muller;
  font-size: 2.2vh ;
}

.App p{
  margin: 0;
}

.Main_Window{
  width: 100%;
  height: 100%;
  position: fixed;
  flex-direction: column;
  top: 0;
  color: white;
  z-index: 1001;
  animation: fade-in 0.3s forwards;
}

.mainHomePageContainer {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* 🔥 Вместо обычного чёрного — добавляем “Diamond” эффект */
  background:
    radial-gradient(200% 150% at 0% 60%,rgba(85,61,158,.8),transparent 30%),
    radial-gradient(100% 180% at 80% 80%,#000,#000);
  background-color: #000;
  background-blend-mode: screen;
  min-height: 0;
}

.headerContainer {
  position: relative;    
  height: 8.37vh;             
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;    
  flex: 0 0 8.37vh;           
}

.circleInHeaderContainer {
  position: static;       
  height: 58.82%;       
  width: auto;               
  margin-left: 3.5vw;                  
}

.circleName {

  height: 100%;       
  aspect-ratio: 1/1;         
  background-color: #5736BB; 
  border-radius: 50%;  

  color: white;
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;  
  font-weight: 400;                 
  font-size: 1.6vh;
}

.userAvatar {
  height: 100%;    
  aspect-ratio: 1/1;
  border-radius: 50%; 
}

.nickNameContainer {
    position: static;     
    margin: 0;                  
    height: 37%;
    width: 16%;
    margin-left: 2vw;
    margin-right: 3vw;
    display: flex;
    align-content: stretch;
    gap: 0.1vh;
    flex-wrap: wrap;
}

.nickNameContainerPart1 {
    width: 100%;
    height: 60%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 1.54vh;
    text-align: start;
}

.nickNameContainerPart2 {
    width: 100%;
    height: 40%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 1.17vh;
    text-align: start;
}

.mainBalanceContainer {
  width: 42%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 2.8vw;

  display: flex;
  align-items: center;
  justify-content: center !important;
  gap: 1vh !important;
}

.mainBalanceContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.2vh;

}

.mainBalanceContainer img {
    height: 50%;
    aspect-ratio: auto; 
}

.withdrawContainer {
  width: 9.33%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.05);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 1.3vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.withdrawContainer img {
  height: 55%;
  aspect-ratio: 1/1; 
  margin-top: 0.15;
}

.refferalsContainer {
  width: 9.33%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.05);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 3.5vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.refferalsContainer img {
  height: 55%;
  aspect-ratio: 1/1; 
}

.text5USDT-with-linesContainer {
  height: 2.46%;
  width: 100%; 
  margin-top: .6vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.line-left {
  width: 9.5vw;
  height: .25vh;
  background: rgba(123, 123, 123, 0.5);
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
}

.line-right {
  width: 9.5vw;
  height: .25vh;
  background:  rgba(123, 123, 123, 0.5);
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.AvaliableWay-line-left {
  width: 12.5vw;
  height: .25vh;
  background: rgba(123, 123, 123, 0.5);
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
}

.AvaliableWay-line-right {
  width: 12.5vw;
  height: .25vh;
  background:  rgba(123, 123, 123, 0.5);
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.text5USDT-with-linesContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.mainChannelTaskContainer {
  width: 90%;
  height: 25%;
  margin-top: 2vh;
  padding: 1vh;

  border: .17vh solid #CECECE;
  border-radius: 2.46vh;

  background: url("../assets/channelBackgroundIcon.png");
  background-repeat: no-repeat, no-repeat; /* ✅ Отключаем повторение */
  background-position: right 2vh bottom 0; /* изображение сдвигаем */
  background-size:  auto 100%; /* ✅ Градиент на всю область, а картинка — высотой 90% */

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.mainChannelNameContainer {
    position: static;     
    margin-left: 1.35vw;    

    height: 19.7%;
    width: 55%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.mainChannelNameContainer img {
  width: auto;
  height: 100%;
}

.textChannelNameContainer {
    position: static;  
    width: 72%;
    height: 100%;
    margin-left: .45vh;
    margin-bottom: .3vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textChannelNameContainerPart1 {
    width: 100%;
    height: 50%;
    text-align: start;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;  
    font-size: 2.2vh;
}

.textChannelNameContainerPart2 {
    width: 100%;
    height: 34%;
    text-align: start;

    color: #F49596;
    font-family: 'Inter', sans-serif;
    font-weight: 330;  
    font-size: 1.75vh;
}

.titleAndBodyTextChannelNameContainer {
    height: 25.39%;
    width: 70%;
    margin-left: 2.4vw; 
    gap: .6vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.titleTextChannelNameContainer {
    position: static;     

    height: 29.11%;
    width: 91.5%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 2vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.bodyTextChannelNameContainer {
    position: static;     

    height: 70.89%;
    width: 100%;

    color: #818181;
    font-family: 'Inter', sans-serif;
    font-weight: 300;  
    font-size: 1.3vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: start;
}

.taskChannelRewardAndUsersContainer {
  width: 70%;
  height: 15%;
  margin-left: 2.4vw;
  gap: 1vh;
  padding-top: .7vh;
  padding-right: 0vh;
  padding-left: 0vh;
  padding-bottom: 0vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  
}

.taskChannelRewardContainer {
  width: 52%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: .8vh;
  overflow: hidden;

  border: 0.035vh solid #FFFFFF; 
  box-sizing: border-box; 

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7vh;
}

.taskChannelRewardContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 300;  
  font-size: 1.1vh;
  /* margin-top: 1vh; */

}

.taskChannelRewardContainer img {
    height: 50%;
    aspect-ratio: auto; 
}

.taskChannelUsersContainer {
  width: 45%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: .8vh;
  overflow: hidden;

  box-sizing: border-box; 

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.taskChannelUsersContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 300;  
  font-size: 1.1vh;

}

.taskChannelUsersContainer img {
    height: 50%;
    aspect-ratio: auto; 
}

.completeAndCheckChannelContainer {
    width: 90%;
    height: 15%;
    margin-left: 1.8vw;

    display: flex;
    gap: 1vh;
}

.completeChannelContainer {
  width: 50%;
  height: 100%;
  background-color: rgba(122, 122, 122, 0.5);
  border-radius: .8vh;
  overflow: hidden;

  border: 0.12vh solid #999999; 
  box-sizing: border-box; 
  /* margin-right: 3.5vw;
  margin-left: 1.8vw; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.completeChannelContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 550;  
  font-size: 1.4vh;
}

.checkChannelContainer {
  width: 50%;
  height: 100%;
  background-color: rgba(89, 67, 255, 0.4);
  border-radius: .8vh;
  overflow: hidden;

  border: 0.12vh solid #006AFF; 
  box-sizing: border-box; 
  /* margin-right: 3.5vw;
  margin-left: 1.8vw; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkChannelContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 550;  
  font-size: 1.4vh;
}

.taskChannelCompletedContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(83, 255, 67, 0.3);
  border-radius: .8vh;
  overflow: hidden;

  border: 0.12vh solid #15FF00; 
  box-sizing: border-box; 
  /* margin-right: 3.5vw;
  margin-left: 1.8vw; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.taskChannelCompletedContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 550;  
  font-size: 1.4vh;
}

.main1WINTaskContainer {
  width: 90%;
  height: 25%;
  margin-top: 2vh;
  padding: 1vh;

  border: .17vh solid #CECECE;
  border-radius: 2.46vh;

  background: url("../assets/1WINBackgroundIcon.png");
  background-repeat: no-repeat, no-repeat; /* ✅ Отключаем повторение */
  background-position: right 1vh bottom 0; /* изображение сдвигаем */
  background-size:  auto 100%; /* ✅ Градиент на всю область, а картинка — высотой 90% */

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.text1WINNameContainerPart2 {
    width: 100%;
    height: 34%;
    text-align: start;

    color: #95ADF4;
    font-family: 'Inter', sans-serif;
    font-weight: 330;  
    font-size: 1.75vh;
}

.complete1WINContainer {
  width: 50%;
  height: 100%;
  background-color: rgba(83, 255, 67, 0.3);
  border-radius: .8vh;
  overflow: hidden;

  border: 0.12vh solid #15FF00; 
  box-sizing: border-box; 
  /* margin-right: 3.5vw;
  margin-left: 1.8vw; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.complete1WINContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 550;  
  font-size: 1.4vh;
}

.selectAvaliableWayContainer {
  width: 95%;
  height: 4%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  margin-top: 1.7vh;

  gap: 1.5vh;
}

.gamblingAvaliableWayContainer {
  width: 28%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  background-color: rgba(69, 69, 69, 1);
  border-radius: 1.1vh;
  border: 0.15vh solid #B6B6B6;

  gap: 1vh
}

.gamblingAvaliableWayContainer img {
  width: auto;
  height: 50%;
}

.gamblingAvaliableWayContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.4vh;
}

.cryptoAvaliableWayContainer {
  width: 36%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  border-radius: 1.1vh;
  border: 0.15vh solid #B6B6B6;

  gap: 1vh
}

.cryptoAvaliableWayContainer img {
  width: auto;
  height: 60%;
}

.cryptoAvaliableWayContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.4vh;
}


.textAvaliableWay-with-linesContainer {
  height: 2.46%;
  width: 100%; 
  margin-top: 1.8vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.textAvaliableWay-with-linesContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.text25USDT-with-linesContainer {
  height: 2.46%;
  width: 100%; 
  margin-top: 1.8vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text25USDT-with-linesContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.mainJettonTaskContainer {
  width: 90%;
  height: 25%;
  margin-top: 2vh;
  padding: 1vh;

  border: .17vh solid #CECECE;
  border-radius: 2.46vh;

  background: url("../assets/JettonBackgroundIcon.png");
  background-repeat: no-repeat, no-repeat; /* ✅ Отключаем повторение */
  background-position: right 0vh bottom 0; /* изображение сдвигаем */
  background-size:  auto 100%; /* ✅ Градиент на всю область, а картинка — высотой 90% */

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.mainMostbetTaskContainer {
  width: 90%;
  height: 25%;
  margin-top: 2vh;
  padding: 1vh;

  border: .17vh solid #CECECE;
  border-radius: 2.46vh;

  background: url("../assets/MostbetBackgroundIcon.png");
  background-repeat: no-repeat, no-repeat; /* ✅ Отключаем повторение */
  background-position: right 0vh bottom 0; /* изображение сдвигаем */
  background-size:  auto 100%; /* ✅ Градиент на всю область, а картинка — высотой 90% */

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.gbTaskCard {
  width: 90%;
  height: 25%;
  margin-top: 2vh;
  padding: 1vh;

  border: .17vh solid #CECECE;
  border-radius: 2.46vh;

  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  background-size: auto 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gbTaskId-22 { 
  background-image: url("../assets/1WINBackgroundIcon.png");
}

.gbTaskId-81 {
  background-image: url("../assets/RedotPayBackgroundIcon.png");
}

.gbTaskId-28 {
  background-image: url("../assets/WinlineBackgroundIcon.png");
}

.gbTaskCard .mainChannelNameContainer img {
  width: auto;
  height: 100%;
  border-radius: 24.6%;
}

.footerContainer {
  width: 85%;
  height: 3%;

  margin-top: 1.5vh;
  margin-bottom: 3vh;
  margin-left: 0vh;
  margin-right: 0vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

}

.footerTelegramChannel {
    width: 27%;
    height: 100%;

    text-align: start;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: .5vh;
}

.footerTelegramChannel h2 {
    color: #818181;
    font-family: 'Inter', sans-serif;
    font-weight: 330;  
    font-size: 1.25vh;
}

.footerTelegramChannel img {
    width: auto;
    height: 50%;
}

.footerSupportButton {
    width: 30%;
    height: 100%;

    text-align: start;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: .5vh;
}

.footerSupportButton h2 {
    color: #818181;
    font-family: 'Inter', sans-serif;
    font-weight: 330;  
    font-size: 1.25vh;
}

.footerSupportButton img {
    width: auto;
    height: 50%;
}

.isDisabled {
  pointer-events: none;
  opacity: 0.6;
}

.complete1WINContainer.disabled,
.checkChannelContainer.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}