/* ✅ Глобальные настройки */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden; 
  isolation: isolate;
}

.App {
    margin: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    background: #000000;
    color: white;
    font-family: Muller;
    font-size: 2.2vh ;
}

.App p{
    margin: 0;
}

.Main_Window{
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    top: 0;
    color: white;
    z-index: 1001;
    animation: fade-in 0.3s forwards;
}

.mainHomePageContainer {

    height: 100%; /* ✅ не 100%, иначе выйдет за пределы */
    width: 100%;
    overflow-y: auto;  /* ✅ включает вертикальный скролл */

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;

}

.headerContainer {
    height: 6.65%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.circleName {
  margin-top: 1.72%;  
  margin-left: 4.53%;
  width: 10.67%;          /* ширина */
  height: 74.07%;         /* высота */
  background-color: #5736BB; /* цвет */
  border-radius: 50%;    /* делает форму круглой */

  color: white;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;  /* ← вот здесь */
  font-weight: 400;                  /* Regular */
  font-size: 1.6vh;
}