/* ✅ Глобальные настройки */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden; 
  isolation: isolate;
}

.App {
    margin: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    background: #000000;
    color: white;
    font-family: Muller;
    font-size: 2.2vh ;
}

.App p{
    margin: 0;
}

.Main_Window{
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    top: 0;
    color: white;
    z-index: 1001;
    animation: fade-in 0.3s forwards;
}

.mainHomePageContainer {

    height: 100%; /* ✅ не 100%, иначе выйдет за пределы */
    width: 100%;
    overflow-y: auto;  /* ✅ включает вертикальный скролл */

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;

}

.headerContainer {
  position: relative;         /* не absolute, чтобы корректно работать во флексе */
  height: 8.37vh;             /* фиксируем высоту от экрана, стабильнее */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;        /* вертикальное выравнивание */
  
}

.circleInHeaderContainer {
  position: static;           /* участвует в флекс-потоке */
  height: 58.82%;                /* круг зависит от высоты хедера */
  width: auto;                /* ширину определит aspect-ratio у дочернего элемента */
  margin-left: 3.1vw;                  /* отступы больше не нужны */
}

.circleName {

  height: 100%;          /* высота */
  aspect-ratio: 1/1;         /* ширина */
  background-color: #5736BB; /* цвет */
  border-radius: 50%;    /* делает форму круглой */

  color: white;
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;  /* ← вот здесь */
  font-weight: 400;                  /* Regular */
  font-size: 1.6vh;
}

.nickNameContainer {
    position: static;     
    margin: 0;                  
    height: 37%;
    width: 16%;
    margin-left: 1vw;
    margin-right: 4vw;
    display: flex;
    align-content: stretch;
    gap: 0.1vh;
    flex-wrap: wrap;
}

.nickNameContainerPart1 {
    width: 100%;
    height: 60%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 1.54vh;
    text-align: start;
}

.nickNameContainerPart2 {
    width: 100%;
    height: 40%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 1.17vh;
    text-align: start;
}

.mainBalanceContainer {
  width: 35%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 3.5vw;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainBalanceContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.2vh;

}

.mainBalanceContainer img {
    height: 50%;
    aspect-ratio: auto; 
}

.withdrawContainer {
  width: 9.33%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.05);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 1.3vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.withdrawContainer img {
    height: 55%;
    aspect-ratio: 1/1; 
    margin-top: 0.15;
}

.refferalsContainer {
  width: 9.33%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.05);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 3.1vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.refferalsContainer img {
    height: 55%;
    aspect-ratio: 1/1; 
}

.text-with-linesContainer {
  height: 2.46%;
  width: 100%; 
  margin-top: .6vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.line-left {
  width: 9.5vw;
  height: .25vh;
  background: rgba(123, 123, 123, 0.5);
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
}

.line-right {
  width: 9.5vw;
  height: .25vh;
  background:  rgba(123, 123, 123, 0.5);
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.text-with-linesContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.mainChannelTaskContainer {
  width: 93%;
  height: 25%;
  margin-top: 2vh;

  border: .17vh solid #CECECE;
  border-radius: 2.46vh;

  background: url("../assets/channelBackgroundIcon.png");
  background-repeat: no-repeat, no-repeat; /* ✅ Отключаем повторение */
  background-position: right 2vh bottom 0; /* изображение сдвигаем */
  background-size:  auto 100%; /* ✅ Градиент на всю область, а картинка — высотой 90% */

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.mainChannelIconContainer {
    position: static;     
    margin-top: 1vh;
    margin-left: 7.1vw;    

    height: 19.7%;
    width: 39.26%;
    gap: 0.2vh;

    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.channelIconContainer {
    width: 29.2%;
    height: 100%;
    /* border-radius: 1.23vh; */
}

.channelIconContainer img {
    width: 100%;
    height: 100%;
}

