/* ✅ Глобальные настройки */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden; 
  isolation: isolate;
}

.App {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: #000000;
  color: white;
  font-family: Muller;
  font-size: 2.2vh ;
}

.App p{
  margin: 0;
}

.Main_Window{
  width: 100%;
  height: 100%;
  position: fixed;
  flex-direction: column;
  top: 0;
  color: white;
  z-index: 1001;
  animation: fade-in 0.3s forwards;
}

.mainHomePageContainer {
  height: 100%; 
  width: 100%;
  overflow-y: auto;  

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  min-height: 0;          
}

.headerContainer {
  position: relative;    
  height: 8.37vh;             
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;    
  flex: 0 0 8.37vh;           
}

.circleInHeaderContainer {
  position: static;       
  height: 58.82%;       
  width: auto;               
  margin-left: 3.1vw;                  
}

.circleName {

  height: 100%;       
  aspect-ratio: 1/1;         
  background-color: #5736BB; 
  border-radius: 50%;  

  color: white;
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;  
  font-weight: 400;                 
  font-size: 1.6vh;
}

.userAvatar {
  height: 100%;    
  aspect-ratio: 1/1;
  border-radius: 50%; 
}

.nickNameContainer {
    position: static;     
    margin: 0;                  
    height: 37%;
    width: 16%;
    margin-left: 1vw;
    margin-right: 4vw;
    display: flex;
    align-content: stretch;
    gap: 0.1vh;
    flex-wrap: wrap;
}

.nickNameContainerPart1 {
    width: 100%;
    height: 60%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 1.54vh;
    text-align: start;
}

.nickNameContainerPart2 {
    width: 100%;
    height: 40%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 1.17vh;
    text-align: start;
}

.mainBalanceContainer {
  width: 35%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 3.5vw;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainBalanceContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.2vh;

}

.mainBalanceContainer img {
    height: 50%;
    aspect-ratio: auto; 
}

.withdrawContainer {
  width: 9.33%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.05);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 1.3vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.withdrawContainer img {
  height: 55%;
  aspect-ratio: 1/1; 
  margin-top: 0.15;
}

.refferalsContainer {
  width: 9.33%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.05);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 3.1vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.refferalsContainer img {
  height: 55%;
  aspect-ratio: 1/1; 
}

.textWithdraw-with-linesContainer {
  height: 2.46%;
  width: 100%; 
  margin-top: 2vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.textWithdraw-with-linesContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.line-left {
  width: 9.5vw;
  height: .25vh;
  background: rgba(123, 123, 123, 0.5);
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
}

.line-right {
  width: 9.5vw;
  height: .25vh;
  background:  rgba(123, 123, 123, 0.5);
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.mainWithdrawContainer {
  width: 86%;
  height: 15%;
  margin-top: 3.4vh;
  padding-top: 2.8vh;
  padding-left: 2.8vh;
  padding-right: 2.8vh;
  padding-bottom: 3.8vh;

  border-radius: 2.46vh;

  background-color: rgba(178,174,174,0.1);

  background-image: url("../assets/withdrawContainerImage.png");
  background-repeat: no-repeat;
  background-position: right 2vh bottom 0;
  background-size: auto 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.AmountAndWithdrawContainer {
  width: 86%;
  height: 26.5%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.AmountContainer {
  width: 31%;
  height: 97%;

  border: .17vh solid rgba(123, 123, 123, 0.2);
  border-radius: 1.4vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.AmountContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.WirthdrawButton {
  width: 65%;
  height: 97%;

  border: .17vh solid rgba(123, 123, 123, 0.2);
  background: rgba(217, 217, 217, 0.1);
  border-radius: 1.4vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.WirthdrawButton h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.AddressWalletContainer {
  width: 86%;
  height: 35.1%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: .17vh solid rgba(123, 123, 123, 0.6);
  border-radius: 1.4vh;
}

.textOrderHistory-with-linesContainer {
  height: 2.46%;
  width: 100%; 
  margin-top: 2vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.textOrderHistory-with-linesContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.line-left {
  width: 9.5vw;
  height: .25vh;
  background: rgba(123, 123, 123, 0.5);
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
}

.line-right {
  width: 9.5vw;
  height: .25vh;
  background:  rgba(123, 123, 123, 0.5);
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}