/* ✅ Глобальные настройки */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden; 
  isolation: isolate;
}

.App {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: #000000;
  color: white;
  font-family: Inter;
  font-size: 2.2vh ;
}

.App p{
  margin: 0;
}

.Main_Window{
  width: 100%;
  height: 100%;
  position: fixed;
  flex-direction: column;
  top: 0;
  color: white;
  z-index: 1001;
  animation: fade-in 0.3s forwards;
}

.mainWithdrawPageContainer {
  height: 100%; 
  width: 100%;
  overflow-y: auto;  

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;

  background-image: url("../assets/mountainBg.png");
  background-repeat: no-repeat;
  background-position: center bottom 0;
  background-size: 100% auto;

  min-height: 0;          
}

.headerContainer {
  position: relative;    
  height: 8.37vh;             
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;    
  flex: 0 0 8.37vh;           
}

.circleInHeaderContainer {
  position: static;       
  height: 58.82%;       
  width: auto;               
  margin-left: 3.1vw;                  
}

.circleName {

  height: 100%;       
  aspect-ratio: 1/1;         
  background-color: #5736BB; 
  border-radius: 50%;  

  color: white;
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;  
  font-weight: 400;                 
  font-size: 1.6vh;
}

.userAvatar {
  height: 100%;    
  aspect-ratio: 1/1;
  border-radius: 50%; 
}

.nickNameContainer {
    position: static;     
    margin: 0;                  
    height: 37%;
    width: 16%;
    margin-left: 1vw;
    margin-right: 4vw;
    display: flex;
    align-content: stretch;
    gap: 0.1vh;
    flex-wrap: wrap;
}

.nickNameContainerPart1 {
    width: 100%;
    height: 60%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 1.54vh;
    text-align: start;
}

.nickNameContainerPart2 {
    width: 100%;
    height: 40%;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    font-size: 1.17vh;
    text-align: start;
}

.mainBalanceContainer {
  width: 35%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 3.5vw;

  display: flex;
  align-items: center;
  justify-content: center !important;
  gap: 1vh !important;
}

.mainBalanceContainer h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.2vh;

}

.mainBalanceContainer img {
    height: 50%;
    aspect-ratio: auto; 
}

.withdrawContainer {
  width: 9.33%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.05);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 1.3vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.withdrawContainer img {
  height: 55%;
  aspect-ratio: 1/1; 
  margin-top: 0.15;
}

.refferalsContainer {
  width: 9.33%;
  height: 46%;
  background-color: rgba(217, 217, 217, 0.05);
  border-radius: 1vh;
  overflow: hidden;

  border: 0.043vh solid #FFFFFF; 
  box-sizing: border-box; 
  margin-top: .15vh;
  margin-right: 3.1vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.refferalsContainer img {
  height: 55%;
  aspect-ratio: 1/1; 
}

.textWithdraw-with-linesContainer {
  height: 2.46%;
  width: 100%; 
  margin-top: 2vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.textWithdraw-with-linesContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.line-left {
  width: 9.5vw;
  height: .25vh;
  background: rgba(123, 123, 123, 0.5);
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
}

.line-right {
  width: 9.5vw;
  height: .25vh;
  background:  rgba(123, 123, 123, 0.5);
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.mainWithdrawContainer {
  width: 84%;
  height: 15%;
  margin-top: 3.4vh;
  padding-top: 2.8vh;
  padding-left: 2.8vh;
  padding-right: 2.8vh;
  padding-bottom: 3.8vh;

  border-radius: 2.46vh;

  background-color: rgba(178,174,174,0.1);

  background-image: url("../assets/withdrawContainerImage.png");
  background-repeat: no-repeat;
  background-position: right 2vh bottom 0;
  background-size: auto 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.AmountAndWithdrawContainer {
  width: 97%;
  height: 32.5%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.AmountContainer {
  width: 31%;
  height: 97%;

  border: .17vh solid rgba(123, 123, 123, 0.2);
  border-radius: 1.4vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.AmountContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.WirthdrawButton {
  width: 65%;
  height: 97%;

  border: .17vh solid rgba(123, 123, 123, 0.2);
  background: rgba(217, 217, 217, 0.1);
  border-radius: 1.4vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.WirthdrawButton h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.AddressWalletContainer {
  width: 86%;
  height: 39.1%;

  padding-top: 0vh;
  padding-left: 3vh;
  padding-right: 2vh;
  padding-bottom: 0vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: .17vh solid rgba(123, 123, 123, 0.6);
  border-radius: 1.4vh;
}

.AddressWalletContainer h2{
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.AddressWalletNetworkContainer {
  width: 20%;
  height: 61%;

  border: .17vh solid rgba(123, 123, 123, 0.6);
  background: rgba(217, 217, 217, 0.1);
  border-radius: 1vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.AddressWalletNetworkContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.textOrderHistory-with-linesContainer {
  height: 2.46%;
  width: 100%; 
  margin-top: 2.5vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.textOrderHistory-with-linesContainer h2 {
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.7vh;
}

.line-left {
  width: 9.5vw;
  height: .25vh;
  background: rgba(123, 123, 123, 0.5);
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
}

.line-right {
  width: 9.5vw;
  height: .25vh;
  background:  rgba(123, 123, 123, 0.5);
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.mainOrderContainer {
  width: 82%;
  height: 11%;

  margin-top: 2.6vh;

  padding-top: 1.8vh;
  padding-left: 3.3vh;
  padding-right: 3.3vh;
  padding-bottom: 2.8vh;

  border-radius: 2.46vh;

  background-color: rgba(178, 174, 174, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.textWithdrawAndAmountContainer { 
  width: 100%;
  height: 31%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.3vh;
}

.textWithdrawAndAmountContainerPart1 { 
  width: 100%;
  height: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textWithdrawAndAmountContainerPart1 h2 { 
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  font-size: 1.7vh;
}

.textAmountAndLogoContainer { 
  width: 27%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8vh;

  margin-top: .15vh;
}

.textAmountAndLogoContainer h2 { 
  color: rgba(123, 123, 123, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  font-size: 1.7vh;
}

.textAmountAndLogoContainer h2 .accent { 
  color: #C1C1C1;
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  font-size: 1.7vh;
}

.textAmountAndLogoContainer img { 
    width: auto;
    height: 100%;
}

.textWithdrawAndAmountContainerPart2 { 
  width: 100%;
  height: 40%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textWithdrawAndAmountContainerPart2 h2 { 
  color: #D5D5D5;
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.2vh;
  margin-left: .12vh;
}

.lineOrder-right {
  width: 64vw;
  height: .2vh;
  background:  rgba(123, 123, 123, 0.5);
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;

  margin-top: .45vh;
}

.infoOrderWalletContainer { 
  width: 80%;
  height: 16%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9vh;
}

.infoOrderWalletContainer h2 { 
  color: #D5D5D5;
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  font-size: 1.28vh;
}

.infoOrderWalletContainer h2 .accent {
  color: #CA6C00;
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  font-size: 1.28vh;
}

.infoOrderWalletContainer img { 
  width: auto;
  height: 100%;
}

.infoTimeAndDataContainer { 
  width: 100%;
  height: 12%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infoTimeAndDataContainer h2 { 
  color: #D5D5D5;
  font-family: 'Inter', sans-serif;
  font-weight: 400;  
  font-size: 1.2vh;
}

.mainSecondOrderContainer {
  width: 82%;
  height: 11%;

  margin-top: 1.6vh;

  padding-top: 1.8vh;
  padding-left: 3.3vh;
  padding-right: 3.3vh;
  padding-bottom: 2.8vh;

  border-radius: 2.46vh;

  background-color: rgba(178, 174, 174, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.mainLastOrderContainer {
  width: 82%;
  height: 11%;

  margin-top: 1.6vh;
  margin-bottom: 3.4vh;


  padding-top: 1.8vh;
  padding-left: 3.3vh;
  padding-right: 3.3vh;
  padding-bottom: 2vh;

  border-radius: 2.46vh;

  background-color: rgba(178, 174, 174, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.footerWithdrawContainer {
    width: 85%;
    height: 3%;

    margin-top: 0vh;
    margin-bottom: 3.4vh;
    margin-left: 0vh;
    margin-right: 0vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.footerTelegramChannel {
    width: 27%;
    height: 100%;

    text-align: start;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: .5vh;
}

.footerTelegramChannel h2 {
    color: #818181;
    font-family: 'Inter', sans-serif;
    font-weight: 330;  
    font-size: 1.25vh;
}

.footerTelegramChannel img {
    width: auto;
    height: 50%;
}

.footerSupportButton {
    width: 30%;
    height: 100%;

    text-align: start;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: .5vh;
}

.footerSupportButton h2 {
    color: #818181;
    font-family: 'Inter', sans-serif;
    font-weight: 330;  
    font-size: 1.25vh;
}

.footerSupportButton img {
    width: auto;
    height: 50%;
}

.AmountContainer [contenteditable="true"]{
  user-select: text;     
  -webkit-user-select: text;
  -ms-user-select: text;
  outline: none;
  background: transparent;
  caret-color: #fff;    
}


